body {
    background-color: #f3f3f3;
}

.bodycontainer {
    background-color: #ffffff;
}

.section-header {
    text-align: left;
    vertical-align: middle;
    line-height: 40px;
}

    .section-header p {
        margin-bottom: 0;
        padding-left: 2rem;
        color: white;
    }

.section-tablist ul {
    text-decoration: none;
    list-style-type: none;
    text-align: center;
    margin-bottom: 0;
}

.section-tablist li {
    margin-bottom: 0;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
}

.section-tablist div p {
    padding: 0;
    width: 100%;
    margin-bottom: 0;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
}

.section-tablist .button {
    transition: .5s ease;
    background-color: #ffffff;
    border-color: #ffffff;
}

    .section-tablist .button:hover {
        background-color: #f3f3f3;
        border-color: #f3f3f3;
    }

.section-tablist h6 {
    text-align: center;
    vertical-align: middle;
}

.title {
    text-align: center;
}

.header {
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.contact-banner {
    text-align: center;
}

.border-top {
    border-top: 1px solid #eee;
}

.border-bottom {
    border-bottom: 1px solid #eee;
}

.content {
    padding: 4rem 0;
    margin-bottom: 0;
}

.contentfade {
    padding: 4rem 0;
    margin-bottom: 100px;
    max-height: 250px;
    position: relative;
    overflow: hidden;
}

@media (min-width: 550px) {
    .content {
        padding: 6rem 0;
    }

    .header {
        margin-top: 14rem;
        margin-bottom: 6rem;
    }
}

@media(min-width: 750px) {
}

.projimage img {
    width: 100%;
    height: auto;
}

.Overlaycontainer {
    position: relative;
    width: 100%;
}

.Overlayimage {
    display: block;
    width: 100%;
    height: auto;
}

.OverlayBackground {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #ffffff;
}

.Overlaycontainer:hover .OverlayBackground {
    opacity: 0.96;
}

.Overlaytext {
    width: 50%;
    color: black;
    font-size: 15px;
    position: absolute;
    top: 25%;
    left: 50%;
    -webkit-transform: translate(-50%, -25%);
    -ms-transform: translate(-50%,-25%);
    transform: translate(-50%, -25%);
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    padding: 2rem;
    background-color: rgba(255,255,255,0.8);
}

.content .fadeout {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 150px 0;
    padding-bottom: 0px;
    /* "transparent" only works here because == rgba(0,0,0,0) */
    background-image: linear-gradient(to bottom, transparent, white);
}

.fadeout a {
    background-color: #E1FFFF;
}

.fadeout .button {
    color: black;
}

#aboutDiv {
}

.row p {
    padding-left: 2rem;
    padding-right: 2rem;
}

.row h5 {
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    font-weight: bold;
}

iframe {
    padding-left: 2rem;
    padding-right: 2rem;
    width: -webkit-calc(100% - 4rem);
    width: -moz-calc(100% - 4rem);
    width: calc(100% - 4rem);
}

.gitbuttondiv {
    padding-left: 2rem;
}

.about {
    padding-bottom: 4rem;
}

    .about div p {
        position: relative;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, 0%);
        -ms-transform: translate(-50%,0%);
        transform: translate(-50%, 0%);
        text-align: left;
        vertical-align: middle;
    }

    .about div img {
        padding-left: 2rem;
        padding-right: 2rem;
        width: -webkit-calc(100% - 4rem);
        width: -moz-calc(100% - 4rem);
        width: calc(100% - 4rem);
        position: relative;
        height: 100%;
    }

.tempimage {
    padding-left: 2rem;
    padding-right: 2rem;
    width: -webkit-calc(100% - 4rem);
    width: -moz-calc(100% - 4rem);
    width: calc(100% - 4rem);
    position: relative;
    height: auto;
}

.about .four div {
    margin: 0;
}

.aboutlist ul {
    text-decoration: none;
    list-style-type: none;
    text-align: center;
    margin-bottom: 0;
}